@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
    margin-bottom: 50px;
  }
}

.App-header {
  background-color: white;
  /* background-color: #faf6ca; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* background-color: #faf6ca; */
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  font-size: small;
  margin-top: 10%;
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Bungee Outline', cursive;
  text-decoration: none;
}

.App-link:hover {
  background-color: #faf6ca;
  font-size: medium;
  font-family: 'Bungee Shade', cursive;
  color: rgb(80, 80, 80);
  transition: 0.3s linear;
  /* font-family: 'Bungee Outline', cursive; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

